<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    <br><br><br><br>
  <h3><%=page %></h3>
  <h3>THE MOBILE PLATFORM FOR THE WORLD OF AGRICULTURE</h3>
  8villages leverages the power of mobile phones to allow your business to engage farmers at scale, to capture relevant intelligence and to generate higher consumer engagement. 
  <br><br>
  <div class="row">
    <div class="col-sm-4">
        <h3>WHAT WE DO</h3>
      <p>Farmers are among the most socially active consumer groups in the world. Today, mobile phones are redefining the way they share, learn and make decisions.<br>

            8villages introduces mobile power into your marketing campaigns. By combining cutting-edge, cloud-based technologies and insights into efficient mobile advertising, we activate your customers and move them through the conversion funnel via immersive mobile experiences 
            <br>
            <img src="http://8villages.com/themes/default/assets/img/about-img-1.png" width="100%"></p>
      
    </div>
    <div class="col-sm-4"> 
            <h3>WHO WE ARE</h3>
            <p> 8villages was founded in 2011 with the intent to change the way information flows from private and public sectors to rural populations.

                    Today, our team combines experienced marketers, agronomists as well as software and telecommunications engineers.
                    
                    8villages has offices in Asia and Europe. The company is funded by renown venture capitalists from Asia, US and Europe.  
                    <br>
                    <img src="http://8villages.com/themes/default/assets/img/about-img-2.png" width="100%"></p>
    </div>
    <div class="col-sm-4"> 
            <h3>WHAT WE BELIEVE IN</h3>
            <p>This relentless focus on farmers allows us to help our clients design and run campaigns that truly change the way public and private sectors dialog with farmers. See the work we do in Indonesia, our lab, where we test new features, technologies and user interactions: link to LISA

                    1.7 billion people around the world farm the land. Most of them are now adopting phones.
                    
                    We are passionate about understanding how this technology boom is helping farmers adopt sustainable practices, new farming technologies, eventually leading to higher incomes for entire communities.
                    <br>
                    <img src="http://8villages.com/themes/default/assets/img/about-img-3.png" width="100%"></p>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>