<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    <br><br><br><br>
  <h3><%=page %></h3>
  <h3>THE MOBILE PLATFORM FOR THE WORLD OF AGRICULTURE</h3>
  8villages leverages the power of mobile phones to allow your business to engage farmers at scale, to capture relevant intelligence and to generate higher consumer engagement. 
  <br><br>
  <div class="row">
    <div class="col-sm-4">
        <img src="http://8villages.com/themes/default/assets/img/bayer.png" width="50%%"><br><br>
      <p>Bayer Crop Sciences, the leading provider of agricultural inputs, approached 8villages for help developing a mobile strategy that would ultimately drive knowledge and product awareness among farming communities in emerging Asia. 
          
            </p>
      
    </div>
    <div class="col-sm-4">
            <img src="http://8villages.com/themes/default/assets/img/8villages-solution.png" width="30%%"><br><br>
          <p>To increase its brand equity, 8VILLAGES helped Bayer Crop Sciences build an engaged mobile community of opt-in farmers, driving their preference with localized farming knowledge, offers and coupon. To Promote their new mobile community, 8VILLAGES helped BAYER CROP SCIENCES mobilize its existing marketing assets in the fields and enabled multi-channel opt-ins.
                <br><br>
                <ul>
                <li> Allowed farmers to create brand-sponsored groups via SMS, generating high referral rates.</li>
                <li> Enabled content creation by a local network of experts from universities and public departments of agriculture.</li>
                <li> Allow farmers to opt-in via SMS to a simple shortcode and enjoy the service for free.  </li> </p>
                </ul>
        </div>
        <div class="col-sm-4">
                <img src="http://8villages.com/themes/default/assets/img/results-that-matter.png" width="30%%"><br>
              <p>By creating opt-in opportunities across their entire marketing funnel, BCS achieved a high opt-in rate and quickly developed a viable mobile community
                    <br><br>
                    <ul>
                    <li> 95% of approached farmers opted-in</li>
                    <li> 30% of users directly interacting with the brand</li>
                    <li> 20% of farmers enjoying and redeeming points at the local points of sale   </li> </p>
                    </ul>
              
            </div>
   
  </div>
</div>

</body>
<% include partials/script %>
</html>