<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    <br><br><br><br>
  <h3><%=page %></h3>
<br><br>
  <div class="row">
    <div class="col-sm-3">
        <h3>AGRI BUSINESS</h3>
      <p>The last mile, or "farmers hands" is the most difficult part of a long and broken value chain in emerging market agriculture. Farmers often do not benefit from transperacy or even the best practices needed to help them use Agri business products in a more efficient and effective ways. In addition, field force in those countries is often remote, decentralized and lacks the understanding of what information is needed and how to develop insights for head quarters.
<br><br>
            8villages solves these problems across multiple dimensions. For one, it allows for a head quarters to directly engage with any farmer over SMS or Android application providing him best practices, a way to ask questions real time with pictures attached. In addition, our field force solutions integrate the field force and the farmer allowing HQ to develop the right surveys leading to insightful learnings from the field which can then be applied towards increasing farmer livlihoods while improving the company's profitability. Ultimately 8villages will build additional tools to manage trace ability and yield measurement to further help the develop the farming ecosystem. </p>
      
    </div>
    <div class="col-sm-3"> 
            <h3>FINANCIAL
                    INSTITUTIONS</h3>
            <p> The bottom of the pyramid is often of very low sophistication and many times opts to take money from loan shark "friends" at much higher interest than of reputable MFIs and rural banks. In addition, insurance products which are becoming more important for farmers due to climate change are often very complex and difficult to deliver at a cost effective way to farmers.
                    <br><br>
                    8villages addresses these problems by allowing a financial institution to engage with a bottom of the pyramid in both product related and supporting information allowing potential customers to break the barrier of being uncomfortable in associating with a modern regulated bank. In addition, the 8villages platform allows for the ongoing education of potential customers remotely reducing the cost of educating farmers about new product such as insurance and allowing the products themselves to be much more transparent for the customers. Finally our field force tool allows field officers to collect better information including pictures, GPS coordinates and others which can reduce risk for financial institutions and increase their reach. </p>
    </div>
    <div class="col-sm-3"> 
            <h3>PUBLIC
                    PARTNER</h3>
            <p>Both governments and non governments actors consistently look for ways to better inform the more vulnerable populations about their rights while educating them and improving their livelihoods. Governments see these populations as a huge opportunity to make change in the country, NGOs sees the needs of these people and want to address more of them while we also learned how Uniiversities would like to give impact well beyond the classroom doors.
                    <br><br>
                    8villages allows the creation of true PPPs put together by technologies and allowing for a cheap, effective and efficient way to reach more people, in more substantial ways. In addition, equipping those people with the our field force tool can further make monitoring and evaluation easier, and allow for the creation of more robust programs. </p>
    </div>
    <div class="col-sm-3"> 
            <h3>MOBILE
                    CARRIERS</h3>
            <p>
                    In emerging markets where modern trade has not yet taken hold, it is important for distributors to better reach their channel and both develop them while driving more sales or help manage their own working capital that can get fragmented in such complex supply chains.
                    <br><br>
                    8villages has great experience in working together with companies across multiple industries in both developing the channel and educating micro entrepreneurs. In addition it can further equip the field force of different companies allowing them to be more effective even by while being far from HQ. 
            </div>
  </div>
  <div class="row">
        <div class="col-sm-12">
                <img src="http://8villages.com/themes/default/assets/img/client-img.png" width="100%">
      </div>
</div>

</body>
<% include partials/script %>
</html>