<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    <br><br><br><br>
  <h3><%=page %></h3>
  <br><br>
  <div class="row">   <div class="col-sm-3">
            
      
    </div>
    <div class="col-sm-3">
            <center>
                    <h3>Stay informed by Following Us on</h3>
                      <br><br><br>
                      <img src="http://8villages.com/themes/default/assets/img/angel-list.png" height="33px"><br><br>
                      <img src="http://8villages.com/themes/default/assets/img/crunchbase.png" height="33px"><br><br>
                      <img src="http://8villages.com/themes/default/assets/img/linkedin.png" height="33px">
                  </center>
    </div>
    <div class="col-sm-3"> 
            <h3>Reach out to us and we'll respond as soon as we can.</h3>

          BEKASI<br>
          Jl KH Noer Ali, No.6D Kampung Dua<br>
          Bekasi Barat 17145<br><br>
JAKARTA<br>
Ariobimo Sentral, Lt. 8<br>
Jalan HR Rasuna Said Blok X-2 Kav 5.<br> Jakarta Selatan 12950<br><br>
Phone. (62-21) 885 3808<br>
          Email Enquiry: info@8villages.com<br>
    </div>
    <div class="col-sm-3">
            
      
        </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>