<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 
  </head>
  <body>
    <% include partials/menu %>

<div class="container-fluid bg-3 text-center">   
    <h3><%=page %></h3> 
  <h3><!--<%= page %>--></h3><br><br><br>
  <h3>THE MOBILE PLATFORM FOR THE WORLD OF AGRICULTURE</h3>

  <div class="row">
      <div class="col-sm-12"> 
          <center><img src="http://8villages.com/themes/default/assets/img/img-1.png" width="100%">
            <br><h3>8villages leverages the power of mobile phones to allow your business to engage farmers at scale, to capture relevant intelligence and to generate higher consumer engagement. <br> <br> <br>
            </h3></center>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-4"> 
        <center><img src="http://8villages.s3.amazonaws.com/uploads/icons/lisa_admin.jpg" width="200" height="200">
        </center>
    </div>
    <div class="col-sm-4"> 
      <img src="https://siapp.id/wp-content/uploads/2017/10/RegoPantes-8villages-Logo-200x200.png" width="200" height="200">
    </div>
    <div class="col-sm-4"> 
      <img src="https://datahub.id/public/themes/images/app-Logo-2.png" width="200" height="200">
    </div>
    
  </div>
  <div class="row">
      <div class="col-sm-4"> 
          <center><img src="https://klikforklik.com/wp-content/uploads/2014/12/Petani-logo.png" width="200" height="200">
          </center>
      </div>
      <div class="col-sm-4"> 
        <img src="https://cdn.apk-cloud.com/detail/image/com.eightvillages.nelayan.android-w250.png" width="200" height="200">
      </div>
      <div class="col-sm-4"> 
        <img src="https://lh3.googleusercontent.com/2CbudC5EZ8FD7_BUyG9YkN4dkwurE7xYQYSVlcZYq0F_DqDYN3kzkWA40aL0RRB4V-bk=s180" width="200" height="200">
      </div>
      
    </div>

  
</div>
  </body>
  <% include partials/script %>
</html>
