<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    <br><br><br><br>
    <h3><%=page %></h3>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
        <h3>MARKETING</h3>
      <p>Our team of mobile and marketing experts works with you to create efficient solutions that are fully integrated into your campaign planning and tailored to the specifics agricultural communities and channels' setups of your country of operation. It is not about audiences, it's about outcomes: with its advanced reporting features, 8villages helps you prove the efficacy of every marketing dollar.
          <br>
            <img src="http://8villages.com/themes/default/assets/img/solution-img-1.png" width="100%"></p>
      
    </div>
    <div class="col-sm-4"> 
            <h3>LOYALTY </h3>
            <p> Attract and retain customers through a reward-based loyalty management program customized to your business goals. Multi-vertical expertise, powered by a powerful data manipulaation platform, creates the world's first multi-channel loyalty solution tailored to the world of agriculturee. 
                    <br>
                    <img src="http://8villages.com/themes/default/assets/img/solution-img-2.png" width="100%"></p>
    </div>
    <div class="col-sm-4"> 
            <h3>FARMER
                    RELATIONSHIP
                    MANAGEMENT</h3>
            <p>Find out where farmers are, what they're doing, why they're doing it and how to improve their mobile experience and interaction with your brand via sophisticated customer data mining. Learn more. 
                <br>
                    <img src="http://8villages.com/themes/default/assets/img/solution-img-3.png" width="100%"></p>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>