<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    <br><br><br><br>
    <h3><%=page %></h3>
  <br><br>
  <div class="row">
    <div class="col-sm-3">
            
      
    </div>
    <div class="col-sm-3"> 
            <img src="http://8villages.com/themes/default/assets/img/technology-img.png" width="100%"></p>
            </div>
    <div class="col-sm-3"> 
            <p> 8VILLAGES offers robust, cloud-based carrier-grade messaging platform, allowing real-time communication between you and your rural customers.
                    It enables you to initiate a conversation via SMS, MMS, push notification.</p>
    
            <p>As a multi-country messaging aggregation gateway, 8VILLAGES makes it simple to execute and optimize personalized mobile messaging globally. We also work with mobile carriers across the globe to identify the phone users involved in agriculture and deliver tailored, localized and relevant information to them. </p>
    </div>
    <div class="col-sm-3"> 
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>